<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>A Bit About Us</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <h1>We're just four strong women in our prime, sharing a home in Miami.</h1>
</body>

</html>