<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Through the Lens</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/simplex/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <h1>P5 Presents: Through the Lens.</h1>
    <a href="/about_us">A Bit About Us</a>
</head>
<p>
</p>


<body>
    just some text

    <img src="April.jpg" width="128" height="128">    

</body>


</html>