<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/simplex/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div>
        <style>
            * {
              box-sizing: border-box;
            }
                       /* Create four equal columns that floats next to each other */
            .column {
              float: left;
              width: 25%;
              padding: 10px;
            }
            /* Clear floats after the columns */
            .row:after {
              content: "";
              display: table;
              clear: both;
            }
            </style>

<body>
    <!--navigation bar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><font size="+2"><b>Through the Lens</b></font></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/about_us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movie_pred">The Predictor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tableau">Rotten Tomatoes Tableau</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tableau2">Mojo Tableau 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tableau3">Mojo Tableau 2</a></li>
              <a class="nav-link" href="/sql_movie">Database Query</a></li>
              <li class="nav-item">
                <a class="nav-link" href="/credits">Credits</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <style>
        p.ex1 {
            padding-left: 20px;
                }
        h1 {text-align: center;}
    </style>
    <hr>
    <hr> <hr>
    <hr>
<h1><b><p class="ex1"><p class="ex1"></p>A Bit About Us</h1></b></p>
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <p class="ex1"><img src="/static/cute1.jpg"width="300"height="300"/></p>
    <h2><p class="ex1">Tracie Fauth</h2>
    <p><p class="ex1">A an aspiring filmmaker, Tracie Fauth has a long-standing passion for the art of film. Tracie works in marketing and communications with a love for authentic story-telling and video content creation. In her spare time, she can be found with her two cats, contemplating getting 1 (or 2 or 3) more.</p></p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <p class="ex1"><img src="/static/cute2.jpg"width="300"height="300"/></p>
    <h2><p class="ex1"></p>Gadise Mulat</h2>
    <p>SLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div class="column" style="background-color:#ccc;">
    <p class="ex1"><img src="/static/cute3.jpg"width="300"height="300"/></p>
    <h2><p class="ex1"></p>Nasreen Fathima Habeeb Rahman</h2>
    <p>Driven and curious data analyst who strives to pose and answer questions with quantitative-driven insights. With a passion for creative innovation and solving complex problems. I believe that data tells us more than just numbers. It helps us to understand our users and desires. I love spending time with my family and kids exploring various places, and watching good movies in my free time.</p>
  </div>
  <div class="column" style="background-color:#ddd;">
    <p class="ex1"><img src="/static/cute4.jpg"width="300"height="300"/></p>
    <h2><p class="ex1"></p>Jaime Starling</h2>
    <p class="ex1"><p>Jaime Starling is a former usher and popcorn-slinger for Sequoia Mall Cinema (original location). She has been a special guest at the American premiere of <i>Pok&eacute;mon: The Movie</i> and attended the British premiere for cast and crew of <i>Harry Potter and the Philosopher's Stone. </i>She has worked in publishing for over two decades, which sometimes involves rather lovely movie industry folks. Not allowed to watch scary movies as a kid, Jaime is trying to catch up on the classics of the genre. Some of her favorite movies include <i>Gojira</i>, <i>Metropolis</i>, and <i>My Favorite Wife.</i></p>
  </div>
</div>
</body>
</html>