<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Through the Lens - Home</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/simplex/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>   
</head>

<body>
    <!--navigation bar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><font size="+2"><b>Through the Lens</b></font></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about_us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/movie_pred">Machine Learning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tableau">Tableau</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tableau2">Tableau 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tableau3">Tableau 3 </a></li>
          <li class="nav-item">
            <a class="nav-link" href="/sql_movie">SQL</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/credits">Credits</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="p-5 text-center bg-image rounded-3" style="background-image: url('../static/onechair.jpeg'); height: 400px;">
        <div class="mask" style="background-color: rgba(252, 248, 248, 0);">
            <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1><strong>We love movies...and we think you do as well!</h1></strong>
                <br></br>
                <h4><strong>However, <i>which</i> movies is always the debate, and that just makes the fandom more fun, even if it frustrates studio executives.</h4></strong>
                <h4><strong>Check out our charts on what kind of films bring in the ticket sales.</h4></strong>
                <h4><strong>Then, see for yourself if your favorite films are a hit with audiences.</strong>
                </div>
    </div>
    </div></div>
    <p></p></div> <body style="background-color:rgb(156, 153, 153);">
    <style>
    .child{
    float: left;
    width: 14%;
    padding: 5px;
    box-sizing: border-box;
 }
 .child img{
    width: 100%;
 }
</style>
<body>
 <div class="parent">
    <div class="child">
        <a href="/about_us"><font size="+2"><font color=white><b>About Us</b></font></a><a href="/about_us"><img src="/static/camera.png"></a>
     </div>
     <div class="child">
        <a href="/movie_pred"><font size="+2"><font color=white><b>ML</b></font></a><a href="/movie_pred"><img src="/static/camera.png"></a>
     </div>
     <div class="child">
        <a href="/tableau"><font size="+2"><font color=white><b>Tableau</b></font></a> <a href="/tableau"><img src="/static/camera.png"></a>
     </div>
     <div class="child">
        <a href="/tableau2"><font size="+2"><font color=white><b>Tableau2</b></font></a><a href="/tableau2"><img src="/static/camera.png"></a>
    </div>  
    <div class="child">
      <a href="/tableau3"><font size="+2"><font color=white><b>Tableau3</b></font></a><a href="/tableau3"><img src="/static/camera.png"></a>
    </div>
    <div class="child">
      <a href="/sql_movie"><font size="+2"><font color=white><b>SQL</b></font></a><a href="/sql_movie"><img src="/static/camera.png"></a>
    </div>
    <div class="child">
      <a href="/credits"><font size="+2"><font color=white><b>Credits</b></font></a><a href="/credits"><img src="/static/camera.png"></a>
    </div>
</body>
</html>

