<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Through the Lens</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/simplex/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><font size="+2"><b>Through the Lens</b></font>
                <span class="sr-only">(current)</span>
              </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="p-5 text-center bg-image rounded-3" style="background-image: url('static/onechair.jpeg'); height: 400px;">
        <div class="mask" style="background-color: rgba(252, 248, 248, 0);">
            <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1><strong>We love movies...and we think you do as well!</h1></strong>
                <br></br>
                <h4><strong>However, <i>which</i> movies is always the debate, and that just makes the fandom more fun, even if it frustrates studio executives.</h4></strong>
                <h4><strong>Check out our charts on what kind of films bring in the ticket sales.</h4></strong>
                <h4><strong>Then, see for yourself if you can produce a film, by its various components, that becomes a hit with audiences.</strong>
                    <br></br>
                <h3><strong>No plot? No problem!</h4></strong>
                </div>
    </div>
    </div></div>
    <p></p></div> <body style="background-color:rgb(220, 216, 216);">
    <style>
    .child{
    float: left;
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
 }
 .child img{
    width: 100%;
 }
</style>
</head>
<body>
 <div class="parent">
     <div class="child">
        <a href="/about_us"><font size="+2"><b>About Us</b></font></a><a href="/about_us"><img src="/static/camera.png"></a>
     </div>
     <div class="child">
        <a href="/indexwithtitanic"><font size="+2"><b>Machine Learning</b></font></a><a href="/indexwithtitanic"><img src="/static/camera.png"></a>
     </div>
     <div class="child">
        <a href="/tableau"><font size="+2"><b>Tableau</b></font></a> <a href="/tableu"><img src="/static/camera.png"></a>
     </div>
     <div class="child">
        <a href="/tableau2"><font size="+2"><b>Tableau2</b></font></a><a href="/tableu"><img src="/static/camera.png"></a>
    </div>  

</body>

</html>

