<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Through the Lens - Home</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/simplex/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>   
</head>

<body>
    <!--navigation bar-->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><font size="+2"><b> Through the Lens</b></font></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about_us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/movie_pred">The Predictor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tableau">Rotten Tomatoes Tableau</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tableau2">Mojo Tableau 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tableau3">Mojo Tableau 2 </a></li>
          <li class="nav-item">
            <a class="nav-link" href="/sql_movie">Database Query</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/credits">Credits</a></li>
        </ul>
      </div>
    </div>
  </nav><hr><hr>
  <div class="p-5 text-center bg-image rounded-3" style="background-image: url('../static/onechair.jpeg'); height: 400px;">
        <div class="mask" style="background-color: rgba(252, 248, 248, 0);">
            <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1><b><font size="+4">Through the Lens</b></font></h1>
                <hr>
                <h2><b><i>We love movies, but which movies are truly the best?</i></b></h2>
                <hr>
                <h3>We chose to explore what factors might contribute to their overall financial and critical success.
                  Which films are predictable in their success? What makes for a profitable film? Explore the Tomatometer Ratings Predictor, Tableau dashboards, and Database Query to gain more insights!</h3>
                </div>
    </div>
    </div></div>
    <p></p></div> <body style="background-color:rgb(156, 153, 153);">
    <style>
    .child{
    float: left;
    width: 16.6%;
    padding: 5px;
    box-sizing: border-box;
 }
 .child img{
    width: 100%;
 }
</style>
<body>
 <div class="parent">
  <div class="child">
      <a href="/about_us"><img src="/static/aboutus.png"></a>
     </div>
     <div class="child">
        <a href="/movie_pred"><img src="/static/predictor.png"></a>
     </div>
     <div class="child">
        <a href="/tableau"><img src="/static/rttableau.png"></a>
     </div>
     <div class="child">
        <a href="/tableau2"><img src="/static/bomojo.png"></a>
    </div>  
    <div class="child">
        <a href="/tableau3"><img src="/static/bomojo2.jpg"></a>
    </div>
    <div class="child">
        <a href="/sql_movie"><img src="/static/databasequery.png"></a>
    </div>
  
</div>


</body>
</html>

